{% load static %}
<html lang="en">
    <head>
        <title>Patient Home Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'js/style.css' %}">
    </head>
    <body>
        {% include 'patient/_header.html' %}
        <h2 class="mb-4" style="color: #f71564">My Appointments</h2>
<!---------------------------------------------------------------------------------------->
        {%for appointment in confirmed_appointment_list%}
                <div class="row" style="padding: 4px">
                    <div class="col-sm-8">
                        <div class="card" style="max-width:800px">
                            <div class="card-header" style="padding:6px 16px 6px 20px">
                                <h4>Appointment With
                                    <b>Dr. {{appointment.d_email.name}}</b>
                                </h4>
                                <small  style="font-size: larger;">
                                    on {{appointment.appointmentdate|date:"D, d M,Y \\a\\t h:i A"}}
                                </small>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" style="padding:6px 16px 6px 20px">
                                    <strong>Chief Complaint</strong> : {{appointment.chief_complaint}}
                                </li>
                                <li class="list-group-item" style="padding:6px 16px 6px 20px">
                                    <strong>Description</strong> :  {{appointment.description}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        {%endfor%}
<!---------------------------------------------------------------------------------------->
        {% include 'patient/_footer.html' %}
    </body>
</html>