{% load static %}

<html lang="en">
    <head>
        <title>Patient Profile Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'js/style.css' %}">
        <script>
            function myFunction() {
                var file = document.getElementById('image').files[0];
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.img-responsive').attr('src',e.target.result);
                    var image = document.createElement("img");
                    image.src = e.target.result;
                }
                reader.readAsDataURL(file);
            }
        </script>
    </head>
    <body>
        {% include "patient/_header.html" %}
<!------------------------------------------------------------------------------------------->
        <form class="form" action="{%url 'patient:updatepatient'%}" method="post" id="registrationForm" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row"><!--div4-->
                <div class="col-sm-3"><!--left col-->
                    <img src="{% static patient_details.img_url %}" class="img-responsive img-thumbnail" >
                    <div class="ml-2 col-sm-6">
                        <input type="file" name="image" class="file" id="image" accept="image/*" onchange="myFunction()" title="To Update Profile Picture">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div class="row">
                                <div class="col-8" style="padding:0">
                                    <label for="name" style="margin:4px 0px 0px 0px"><strong>Name</strong></label>
                                    <input type="text" class="form-control" name="name" id="name" readonly
                                           value="{{patient_details.name}}" title="Enter your first name">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8" style="padding:0">
                                    <label for="gender" style="margin:4px 0px 0px 0px"><strong>Gender</strong></label>
                                    <input type="text" class="form-control" name="gender" readonly=""
                                           value="{{patient_details.gender}}" id="gender">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8" style="padding:0">
                                    <label for="birthdate" style="margin:4px 0px 0px 0px"><strong>Birthdate</strong></label>
                                    <input type="text" class="form-control" name="birthdate" readonly=""
                                           value="{{patient_details.birthdate}}" id="birthdate" title="enter your birthdate">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8" style="padding:0">
                                    <label for="email"style="margin:4px 0px 0px 0px"><strong>Email</strong></label>
                                    <input type="email" class="form-control" name="email" id="email" readonly value="{{patient_details.email_id}}" title="enter your email.">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8" style="padding:0">
                                    <label for="phoneno"style="margin:4px 0px 0px 0px"><strong>Phone Number</strong></label>
                                    <input type="number" class="form-control" name="phoneno" id="phoneno" value="{{patient_details.phoneno}}" title="enter your mobile number if any.">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8"style="padding:0">
                                    <label for="text" style="margin:4px 0px 0px 0px"><strong>Address</strong></label>
                                    <input type="text" class="form-control" name='address'  id="address" value="{{patient_details.address}}" title="enter address">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit" name="save">Save</button>
                                    <button class="btn btn-lg" type="reset">Reset</button>
                                </div>
                            </div>

                        </div><!--/tab-pane-->
                    </div><!--/tab-pane-->
                </div><!--/tab-content-->
            </div><!--div4-->
        </form>
        <!------------------------------------------------------------------------------------------->
        {% include "patient/_footer.html" %}
    </body>
</html>